@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1F2326;
}

.circle-1 {
    background-color: #FF4656;
    width: 60em;
    height: 60em;
    border-radius: 50%;
    position: absolute;
    left: -185px;
    top: -411px;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
        
    }
    50%{
        transform: scale(.8) rotate(-360deg);
        
    }
    100%{
        transform: scale(1) rotate(360deg);
        
    }
  }

.circle-2 {
    background-color: #FF4656;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    left: 1400px;
    top: 30px;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
        
    }
    50%{
        transform: scale(.8) rotate(-360deg);
        
    }
    100%{
        transform: scale(1) rotate(360deg);
        
    }
  }

.circle-3 {
    background-color: #EFEFEF;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    position: absolute;
    left: 1350px;
    top: 80px;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
        
    }
    50%{
        transform: scale(.8) rotate(-360deg);
        
    }
    100%{
        transform: scale(1) rotate(360deg);
        
    }
  }

.circle-4 {
    background-color: #505155;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    position: absolute;
    left: 1460px;
    top: 210px;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
        
    }
    50%{
        transform: scale(.8) rotate(-360deg);
        
    }
    100%{
        transform: scale(1) rotate(360deg);
        
    }
  }

.circle-5 {
    background-color: #505155;
    width: 40em;
    height: 40em;
    border-radius: 50%;
    position: absolute;
    left: 1100px;
    top: 610px;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
        
    }
    50%{
        transform: scale(.8) rotate(-360deg);
        
    }
    100%{
        transform: scale(1) rotate(360deg);
        
    }
  }

.circle-6 {
    background-color: #505155;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 890px;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
        
    }
    50%{
        transform: scale(.8) rotate(-360deg);
        
    }
    100%{
        transform: scale(1) rotate(360deg);
        
    }
  }

.circle-7 {
    background-color: #EFEFEF;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 920px;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: scale(1) rotate(360deg);
        
    }
    50%{
        transform: scale(.8) rotate(-360deg);
        
    }
    100%{
        transform: scale(1) rotate(360deg);
        
    }
  }

.free {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 30px 30px;
}

.free h3 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 20px;
    color: #F8F8F8;
    padding-top: 22px;
}

.icon img{
    background-color: #EFEFEF;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.main-container {
    position: absolute;
    width: 1300px;
    height: 700px;
    left: 110px;
    top: 135px;
    border-radius: 10px 10px 0 0;
    background-color: #FF4656;
    background-image: url(./img/background.png);
    background-size: cover;
}

.header {
    background-color: #1F2326;
    height: 9vh;
    border-radius: 10px 10px 0 0;
}

.main-menu img {
    width: 50px;
    height: 20px;
}

.main-menu {
    display: flex;
    text-align: center;
    gap: 40px;
    padding:25px 20px ;
}

.create-line {
    position: absolute;
    left: 86px;
    top: 20px;
    height: 30px;
    border-left: 2px solid #ffffff;
    
  }

  .main-menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0 0 50px;
  }

.main-menu ul, li, a {
    
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 50;
    font-size: 8px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    transition: 0.7s;
}

.main-menu ul, li, a:hover {
    transition: 0.7s;
    color: #FF4656;
}

.block-container {
    display: flex;
    justify-content: space-between;
}

.avatar {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 50px;
    padding-right: 20px;
}

.avatar img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1190px;
    top: 18px;
    border-radius: 50%;
}

.avatar h2 {
    font-family: 'Montserrat';
    font-size: 8px;
    color: #FFFFFF;
}

.imege {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 500px;
    left: 60px;
    opacity: 0.5;
}

.imege1 {
    position: absolute;
    width: 150px;
    height: 3px;
    top: 550px;
    left: 60px;
    opacity: 0.5;
}

.section h2 {
    position: absolute;
    
    left: -50px;
    top: 244px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
}

@supports (-webkit-text-stroke: 0.5px white) {
    .section h2 {
      text-shadow: none;
      color: transparent;
      -webkit-text-stroke: 0.5px #fff;
    }
  }

  .box {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 380px;
    left: 280px;
    top: 130px;
    background-color: #1F2326;
    border-radius: 10px 0 0 0;
    transition: all 0.5s;
  }

  .box:hover{
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
  .box img {
    width: 200px;
    height: 400px;
    width: 100%;
    transition: all 0.5s;
    z-index: -1;
  }
.box:hover img {
    opacity: 1;
    transform: translate3d(0%, -25px, 100px);
}


  .box h3 {
    position: absolute;
    
    left: -127px;
    top: 120px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
}

@supports (-webkit-text-stroke: 0.5px white) {
    .box h3 {
      text-shadow: none;
      color: transparent;
      -webkit-text-stroke: 0.5px #fff;
    }
  }
  
  .box h4 {
    position: absolute;
    left: -42px;
    top: 92px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
    color: #FF4656;
}

.mini-box {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 55px;
    left: 294px;
    top: 480px;
    background-color: #1F2326;
    border: solid #EFEFEF 1px;
    transition: 1s;
}
.mini-box:hover {
    transition: 1s;
    transform: scale(1.1);
}

.mini-box img {
    padding: 10px 7px;
    width: 30px;
    height: 30px;
    color: #FF4656;
}


.box-2 {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 380px;
    left: 565px;
    top: 130px;
    background-color: #1F2326;
    border-radius: 10px 0 0 0;
    transition: all 0.5s;
  }

  .box-2:hover{
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.box-2 img {
    width: 200px;
    height: 400px;
    width: 100%;
    transition: all 0.5s;
    z-index: -1;
  }
.box-2:hover img {
    opacity: 1;
    transform: translate3d(0%, -25px, 100px);
}

  .box-2 h3 {
    position: absolute;
    left: -61px;
    top: 56px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
}

@supports (-webkit-text-stroke: 0.5px white) {
    .box-2 h3 {
      text-shadow: none;
      color: transparent;
      -webkit-text-stroke: 0.5px #fff;
    }
  }
  
  .main-box.box-2, h4 {
    position: absolute;
    left: -22px;
    top: 71px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
    color: #FF4656;
}

.mini-box-2 {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 55px;
    left: 580px;
    top: 480px;
    background-color: #1F2326;
    border: solid #EFEFEF 1px;
    transition: 1s;
}
.mini-box-2:hover {
    transition: 1s;
    transform: scale(1.1);
}
.mini-box-2 img {
    padding: 10px 7px;
    width: 30px;
    height: 30px;
}


.box-3 {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 380px;
    left: 845px;
    top: 130px;
    background-color: #1F2326;
    border-radius: 10px 0 0 0;
    transition: all 0.5s;
  }

  .box-3:hover{
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.box-3 img {
    width: 200px;
    height: 400px;
    width: 100%;
    transition: all 0.5s;
    z-index: -1;
  }
.box-3:hover img {
    opacity: 1;
    transform: translate3d(0%, -25px, 100px);
}

  .box-3 h3 {
    position: absolute;
    left: -73px;
    top: 65px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
}

@supports (-webkit-text-stroke: 0.5px white) {
    .box-3 h3 {
      text-shadow: none;
      color: transparent;
      -webkit-text-stroke: 0.5px #fff;
    }
  }
  
  .box-3 h4 {
    position: absolute;
    left: 1px;
    top: 45px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
    color: #FF4656;
}

.mini-box-3 {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 55px;
    left: 860px;
    top: 480px;
    background-color: #1F2326;
    border: solid #EFEFEF 1px;
    transition: 1s;
}
.mini-box-3:hover {
    transition: 1s;
    transform: scale(1.1);
}
.mini-box-3 img {
    padding: 10px 7px;
    width: 30px;
    height: 30px;
}


.box-4 {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 380px;
    left: 1120px;
    top: 130px;
    background-color: #EFEFEF;
    border-radius: 10px 0 0 0;
    transition: all 0.5s;
  }

  .box-4:hover{
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.box-4 img {
    width: 200px;
    height: 400px;
    width: 100%;
    transition: all 0.5s;
    z-index: -1;
  }
.box-4:hover img {
    opacity: 1;
    transform: translate3d(0%, -25px, 100px);
}

  .box-4 h3 {
    position: absolute;
    left: -71px;
    top: 65px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
}

@supports (-webkit-text-stroke: 1px rgb(0, 0, 0)) {
    .box-4 h3 {
      text-shadow: none;
      color: transparent;
      -webkit-text-stroke: 1px rgb(0, 0, 0);
    }
  }
  
  .box-4 h4 {
    position: absolute;
    left: 1px;
    top: 44px;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.1em;
    transform: rotate(90deg);
    color: #FF4656;
}

.mini-box-4 {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 55px;
    left: 1134px;
    top: 480px;
    background-color: #EFEFEF;
    border: solid #000000 1px;
    transition: 1s;
}
.mini-box-4:hover {
    transition: 1s;
    transform: scale(1.1);
}
.mini-box-4 img {
    padding: 10px 7px;
    width: 30px;
    height: 30px;
}

.main-block {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding-top: 560px;
}

.block {
    /* position: absolute; */
    top: 600px;
    width: 300px;
    height: 100px;
    border: solid #000000 1px;
    border-radius: 10px 0 0 0;
    background-color: #EFEFEF;
    display: grid;
}

.block h5 {
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    padding-left: 20px;
    color: #C4C4C4;
}

.block h6 {
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    padding-left: 20px;
    /* padding-top: 100px; */
}

.block p {
    font-family: 'Montserrat';
    font-size: 8px;
    padding-left: 20px;
    /* padding-top: 25px; */
    width: 140px;
}

.block div {
    width: 70px;
    height: 70px;
    background-color: #FF4656;
    margin-left: 170px;
    margin-top: -60px;
}

.block img {
    position: relative;
    width: 60px;
    height: 60px;
    left: 200px;
    top: -85px;
    
}


.footer {
    background-color: #EFEFEF;
    height: 9vh;
    margin-top: -40px;
    border-radius: 0 0 10px 10px;
}